<template>
    <div>
        <h2>Home Page</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fugiat illum pariatur quo voluptatum. Aliquam
            aspernatur at error harum nisi nostrum odit optio qui, quisquam, quod repudiandae suscipit tempora
            totam.</p>
        <router-link to="/todos">Todos</router-link>
    </div>
</template>

<script>
    export default {}
</script>
