<template>
    <div>
        <h2>Todo Application</h2>
        <router-link to="/">Home</router-link>
        <add-todo @add-todo="addTodo" />
        <select v-model="filter">
            <option value="all">Xammasi</option>
            <option value="completed">Bajarilganlar</option>
            <option value="not-completed">Bajarilmaganlar</option>
        </select>
        <hr>
        <Loader v-if="loading"/>
        <todo-list
                v-else-if="filteredTodos.length"
                :todos="filteredTodos"
                @deleteTodo="deleteTodo"
        />
        <p v-else> Todolar yo'q!</p>
    </div>
</template>

<script>
    import TodoList from "../components/TodoList";
    import AddTodo from "../components/AddTodo";
    import Loader from "../components/Loader";
    export default {
        name: 'App',
        data(){
            return{
                todos: [],
                loading: true,
                filter: "all"
            }
        },
        mounted() {
                // ?_limit=3
            fetch('https://jsonplaceholder.typicode.com/todos')
                .then(response => response.json())
                .then(json => {
                    setTimeout(()=>{
                        this.todos = json
                        this.loading = false
                    }, 1000)
                })
        },
        // watch:{
        //   filter(value){
        //       console.log(value)
        //   }
        // },
        computed: {
            // eslint-disable-next-line vue/return-in-computed-property
            filteredTodos() {
                if (this.filter === 'all') return this.todos
                if(this.filter === 'completed') return this.todos.filter(t => t.completed)
                if(this.filter === 'not-completed') return this.todos.filter(t => !t.completed)
            }
        },
        methods:{
            deleteTodo(id){
                this.todos = this.todos.filter(t => t.id !== id)
            },
            addTodo(todo){
                this.todos.push(todo)
            }
        },
        components: {
            Loader,
            AddTodo,
            TodoList
        }
    }
</script>

<style scoped>

</style>