<template>
    <form @submit.prevent="onSubmit">
        <input type="text" v-model="title">
        <button type="submit">Create</button>
    </form>
</template>

<script>
    export default {
        name: "AddTodo",
        data() {
            return {
                title: ''
            }
        },
        methods: {
            onSubmit() {
                if (this.title.trim()) {
                    const newTodo = {
                        id: Date.now(),
                        title: this.title,
                        completed: false
                    }
                    this.$emit("add-todo", newTodo)
                    this.title = ''
                }
            }
        }
    }
</script>

<style scoped>
    input {
        width: 75%;
        margin: 0;
        padding: 0;
    }

    button {
        width: 20%;
        box-sizing: border-box;
        background: red;
        color: #fff;
        border: none;
        height: 100%;
        padding: 2px;
        margin: 0;
    }
</style>