<template>
    <li>
        <span :class="{done: todo.completed}">
            <input type="checkbox" v-on:change="todo.completed=!todo.completed">
            <strong>{{ index +1 }}</strong>
           {{todo.title | uppercase}}
            <button class="rm" v-on:click="$emit('deleteTodo', todo.id)">&times;</button>
        </span>
    </li>
</template>

<script>
    export default {
        name: "TodoItem",
        props: {
            todo: {
                type: Object,
                required: true
            },
            index: Number

        },
        filters: {
            uppercase(value) {
                return value.toUpperCase()
            }
        }
    }
</script>

<style scoped>
    li {
        border: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        padding: .5rem 2rem;
        margin: 0 0 1rem 0;

    }

    .rm {
        background: red;
        color: #ffffff;
        border-radius: 50%;
        border: none;
        font-weight: bold;
        font-size: 15px;
        width: 15px;
    }

    .done {
        text-decoration: line-through;
    }

    input {
        margin-right: 1rem;
    }
</style>