<template>
    <div>
        <ul>
            <todo-item
                    v-for="(todo, i) of todos"
                    :todo="todo"
                    :index="i"
                    :key="todo.id"
                    v-on:deleteTodo="deleteTodo"
            />
        </ul>
    </div>
</template>

<script>
    import TodoItem from "./TodoItem";
    export default {
        name: "TodoList",
        props: ["todos"],
        components: {
            TodoItem
        },
        methods: {
            deleteTodo(id){
                this.$emit("deleteTodo", id)
            }
        }
    }
</script>

<style scoped>
  ul{
      list-style: none;
      margin: 0;
      padding: 0;
  }
</style>